.mad-lips label {
	white-space: nowrap;
	padding: 0 0 .5em;
	
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
.mad-lips input {
	font: inherit;
	background: transparent;
	border: none;
	border-bottom: 1px solid #111;
	outline: 0;
	display: block;
}
.mad-lips label span {
	font-size: .8em;
	line-height: 1em;
	opacity: .7;
	filter: alpha(opacity = 70);
}